<app-slideshow></app-slideshow>
<div class="aboutText">
<h2>
  Learning About Newcastle!</h2>
  This website has provided a platform for combining two interests, an interest in Newcastle with an interest in web
  technology. Most people coming to the site are presumably more interested in the former than the latter.
  It is hoped that the site will soon accept user generated content from authenticated users. Whilst the site may contain
  extensive information about Newcastle, it is by no means complete, there is a lot more to Newcastle than this.


<p>How did this all begin? Mostly I just walked around with a camera, took plenty of time and kept my eyes
    open. After a while themes started to emerge.  I started to notice stone carved faces, high up on buildings,
    some of Newcastle's amazing doorways or some of the amazing ceramic tiles. The first time I walked into the Centurion
    Bar was a revelation.  How could I live here for so long without noticing some of these amazing attractions?</p>

<p>The next step was to go on a series of Heritage Walks with Newcastle City Guides between 2015 and 2019. Newcastle City
Guides offer a programme of over 40 different heritage walks, covering central Newcastle and
Gateshead, as well as Gosforth, Jesmond, Gateshead, North and South Tyneside. Heritage walks are usually held on
Sunday afternoons and Wednesday evenings from April until October.
</p>

</div>

