<mat-nav-list class="color-primary">
 <!--
        <mat-icon>face </mat-icon>
        <mat-icon>account_circle</mat-icon>
        <span class="nav-caption">Login</span></a>   -->
    <!-- <a mat-list-item routerLink="/theme/random/p0007" (click)="onClose()">
          <mat-icon>fast_forward</mat-icon>
          <span class="nav-caption">Random</span></a> -->

    <a mat-list-item routerLink="/theme/art/Quayside Art" (click)="onClose()">
          <mat-icon>palette</mat-icon>
          <span class="nav-caption">Art</span></a>

    <a mat-list-item routerLink="/theme/attraction/ArtDeco Building" (click)="onClose()">
            <mat-icon>picture_in_picture</mat-icon>
            <span class="panorama">Attractions</span></a>

    <a mat-list-item routerLink="/theme/panel/Town Wall Panel" (click)="onClose()">
          <mat-icon>art_track</mat-icon>
          <span class="nav-caption">Heritage</span></a>

    <a mat-list-item routerLink="/theme/park/Jesmond Panel" (click)="onClose()">
            <mat-icon>nature</mat-icon>
            <span class="nav-caption">Parks</span></a>

    <a mat-list-item routerLink="/theme/plaque/Local Hero Plaque" (click)="onClose()">
            <mat-icon>vignette</mat-icon>
            <span class="nav-caption">Plaques</span></a>

    <mat-list-item (click)="onClose()">
  <!--      <button mat-icon-button>
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>  -->
    </mat-list-item>
  </mat-nav-list>
