<app-slideshow></app-slideshow>

<section class="hero is-info is-fullheight is-bold">
  <div class="container" fxLayout="row" fxLayout.xs="column">
    <div class="child1 children" fxFlex="33%">
      <h1><a routerLink="/theme/art/Quayside Art">Art</a></h1><div>
      <!--  <img fxHide="true" fxShow.sm="true" src="../assets/1-slideshow/palette.svg" alt="Art in Newcastle Upon Tyne"
          class="myImageicon"> -->
        Newcastle is full of Art, there is more art on the streets than in Art Galleries and Museums. Much of the art is
        unnoticed, and nearly
        all of it unexplained, a caption on a base plate if you are lucky. Over the years there have been pamplets produced to show
        where this 'Street Art'  is and a brief description of what the art is about. These pamphlets tend to become out of date very quickly and
        rarely get updated. Newcastle and Gateshead's
        Riverside have a lot of art, some a hangover from Gateshead's Garden Festival, other more monumental pieces, part of the regeneration
        of the Quayside. Ouseburn is also well worth a visit.
      </div>
    </div>
    <div class="child2 children" fxFlex="33%">
      <h1> <a routerLink="/theme/attraction/ArtDeco Building">Attractions</a></h1>
      <!-- <img fxHide="true" fxShow.sm="true" src="../assets/1-slideshow/attraction.svg" alt="Attractions in Newcastle"
        class="myImageicon"> -->
      Like many European cities, Newcastle has hundreds of years of history and has a wide range of architecture. Many
      of Newcastle's attractions are not hidden at all, this does not make them obvious. Sometimes all is needed is to 'Look
      Up' or 'Look Down', take a tentative step inside a building, or stand in a particular place. In a busy city like Newcastle it is sometimes difficult to stop and look, either because of fast moving cars
      or in crowds of pedestrians. It feels unnatural to remain in one place
      and look, even though there are plenty of things to see. Hopefully visitors to this site will find things they've never
      noticed before.
      <!-- <img mat-card-image class="img" src="../assets/1-slideshow/1-universityart-2.jpg"> -->
    </div>
    <div class="child3  children" fxFlex="34%">
      <h1><a routerLink="/theme/panel/Town Wall Panel">Heritage</a></h1>
      <!-- <img fxHide="true" fxShow.sm="true" src="../assets/1-slideshow/heritage.svg" alt="Art in Newcastle Upon Tyne"
        class="myImageicon"> -->
      Many aspects of Newcastle's heritage have, at one time or another, been captured in public
      information panels. Jesmond Dene, Exhibition Park as well as Newcastle City Centre have an abundance of such panels.
      Other areas of
      the city are less well endowed. Newcastle's Riverside to the west of the Redheugh Bridge, once a powerhouse of industry
      and
      ship building, has some very good recently restored panels. Unfortunately many of heritage panels throughout the city
      have faded over time making them impossible to read, others have been defaced by vandals or are have vanished from their original location.
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column">

    <div class="child4  children" fxFlex="50%">
      <h1> <a routerLink="/theme/park/Jesmond Panel">Parks</a></h1>
      <!-- <img fxHide="true" fxShow.sm="true" src="../assets/1-slideshow/nature.svg" alt="Parks in Newcastle Upon Tyne"
        class="myImageicon"> -->
      One of the unique things about Newcastle is the sheer size and number of its parks, compared to other UK cities.
      The Town Moor is larger than Hampstead Heath and all the Royal London Parks combined. There is a splendid array of
      Victorian Parks; Jesmond
      Dene, Heaton and Armstrong Parks as well as Exhibition Park, all much used and loved by local residents and visitors.
      <!-- <img mat-card-image class="img" src="../assets/1-slideshow/1-universityart-2.jpg"> -->
    </div>
    <div class="child5 children" fxFlex="50%">
      <h1>  <a routerLink="/theme/plaque/Local Hero Plaque">Plaques</a></h1>
      <!-- <img fxHide="true" fxShow.sm="true" src="../assets/1-slideshow/plaque1.svg" alt="Plaques in Newcastle Upon Tyne"
        class="myImageicon"> -->
      Commemorative 'blue' plaques, started in London, and then spread to regional cities. Amongst the more interesting
      plaques in Newcastle are those which indicate the homes of notable former residents.
      Many locals could not
      tell you where Robert Stephenson, Mo Mowlem, Basil Hume or Wittgenstein lived, yet their former homes bear plaques to
      this effect.
      <!-- <img mat-card-image class="img" src="../assets/1-slideshow/1-universityart-2.jpg"> -->
    </div>
  </div>
</section>
<section>
  <div class="imageContainer">
    <img src="../assets/slideshow/1-slideshow.jpg" class="responsive" alt="Some Description">
    <div class="bottom-right">
      <h2>Spectacular <a routerLink="/theme/attraction/Inside View"> inside views </a> of Newcastle Upon Tyne</h2>
    </div>
  </div>
  <div class="imageContainer">
    <img src="../assets/slideshow/4-slideshow.jpg" class="responsive" alt="Some Description">
    <div class="bottom-right">
      <h2>More beautiful <a routerLink="/theme/attraction/Newcastle Glass"> glass </a> in Newcastle than you might think</h2>
    </div>
  </div>
  <div class="imageContainer">
    <img src="../assets/slideshow/9-slideshow.jpg" class="responsive" alt="Some Description">
    <div class="bottom-right">
      <h2>Wittgenstein lived here!</h2>
    </div>
  </div>
</section>
